/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #102eff, #d2379b);
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}