html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    background: linear-gradient(45deg, #102eff, #d2379b);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.medium-icon-feather {
    width: 20px;
    height: 20px;
}

.medium-icon-bootstrap{
    font-size: 20px !important
}

.small-icon-feather {
    width: 16px;
    height: 16px;
}