:root{
  --bg1:#3a0ca3; 
  --bg2:#b5179e;
  --txt:#fff; 
  --muted:rgba(255,255,255,.78);
  --ring1:#ff6ec4; 
  --ring2:#7873f5;
  --radius:12px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    background: linear-gradient(45deg, #102eff, #d2379b);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.medium-icon-feather {
    width: 20px;
    height: 20px;
}

.medium-icon-bootstrap{
    font-size: 20px !important
}

.small-icon-feather {
    width: 16px;
    height: 16px;
}

.children-tab-container{
    margin: 2rem 10rem 2rem 10rem;
}


.timeline {
  position: relative;
  padding-left: 30px;
  border-left: 2px solid #ccc;
}

.timeline-item {
  position: relative;
  margin-bottom: 2rem;
}

.timeline-dot {
  position: absolute;
  left: -38.5px;
  top: 10px;
  width: 16px;
  height: 16px;
  background: linear-gradient(to right, #c471f5, #fa71cd);
  border: 2px solid white;
  border-radius: 50%;
  z-index: 1;
}

.animate-tab {
  animation: bounceFadeIn 0.8s ease;
}

@keyframes bounceFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px) scale(1.02);
  }
  80% {
    transform: translateY(5px) scale(0.98);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

